<a [routerLink]="['/']">
  <h1>My Store</h1>
</a>

<a class="button fancy-button"><em class="material-icons">shopping_cart</em>Checkout</a>

<!-- <header>
  <div class="container">
    <a href="#" [routerLink]="['/']">My store</a>
    <nav>
      <ul>
        <li>
          <a href="#" [routerLink]="['/cart-page']"></a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->